header{
    width:100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-family: system-ui;
    animation:colour 60s linear infinite;
    background-color: black;
}
@keyframes colour {
   5%{border:5px dotted white;color:white}
   10%{border:5px dotted black;color:black}
   15%{border:5px dotted white;color:white}
   20%{border:5px dotted black;color:black}
   25%{border:5px dotted white;color:white}
   30%{border:5px dotted black;color:black}
   35%{border:5px dotted white;color:white}
   40%{border:5px dotted black;color:black}
   45%{border:5px dotted white;color:white}
   50%{border:5px dotted black;color:black}
   55%{border:5px dotted white;color:white}
   60%{border:5px dotted black;color:black}
   65%{border:5px dotted white;color:white}
   70%{border:5px dotted black;color:black}
   75%{border:5px dotted white;color:white}
   80%{border:5px dotted black;color:black}
   85%{border:5px dotted white;color:white}
   90%{border:5px dotted black;color:black}
   95%{border:5px dotted white;color:white}
   100%{border:5px dotted black;color:black}
}