.main-div{
    width:100vw;
    animation:colours 120s linear infinite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: system-ui;
    background-image:url("../images/developer_laptop_400px_height.png");
    background-size: cover;
    
}
.hello{
    font-size: 5rem;
    color:black;
    text-align: center;
}
.txt{
    font-size: 3rem;
    color:black;
    padding: 10px;
    overflow: hidden;
}
.intro-div{
    border-radius: 10px;
}
.image{
    width:30vw;
    border-radius: 10px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
@media only screen and (max-width:780px){
    .txt{
        font-size:0.9rem;
    }
    .hello{
        font-size:1.2rem ;
    }
}