.main-div{
    width:100vw;
    animation:colours 3600s linear infinite;
    display: flex;
}
@keyframes colours{
    25%{background:linear-gradient(to left,pink,red,blue,yellow)}
    50%{background:linear-gradient(to left,red,blue,yellow,pink)}
    75%{background:linear-gradient(to left,blue,yellow,red,pink)}
    100%{background: linear-gradient(to left,yellow,blue,red,pink)}
}
.intro-div{
    border:1px solid white;
    border-radius: 10px;
}
.image{
    width:30vw;
    border-radius: 10px;
}